<header>
    <nav class="main-nav">
        <ul>
            <li><a href="{% url "core:index" %}">Home</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Users</a></li>
            
            {% if request.user.is_authenticated %}
                <li style="float: right;"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% comment %} <li style="float: right;"><a href="{% url 'core:my_blogs' %}">My Blogs</a></li> {% endcomment %}
            {%else%}
                <li style="float: right;"><a href="{% url 'accounts:login' %}">Login</a></li>
                <li style="float: right;"><a href="{% url 'accounts:register' %}">Signup</a></li>
                <li style="float: right;"><a href="{% url 'accounts:create_user' %}">Create User</a></li>
            {% endif %} 
        </ul>
    </nav>
</header>
<body>